body {
	background-image: url("./Mon8.jpg");
}

.rows-container {
	max-height: 100vh;
	display: flex;
	flex-direction: column;
  }
  
.row {
	max-height: 48vh;
	padding: 0.5vh;
	display: flex;
	justify-content: space-around;
}

img {
	max-height: 48vh;
	width: 100%;
}

.rows-wrapper {
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
}