body {
	background-image: url("../githubpages1/Mon8.jpg");
}

.rows-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
  }
  
.row {
	height: 50vh;
	display: flex;
	justify-content: space-around;
}

img {
	max-height: 50vh;
	width: 100%;
}

.rows-wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column; 
}